name: Run Python ETL Job Hourly

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt || true

      - name: Run ETL Job
        run: |
          python fetch_space_data.py
