name: Run Python ETL Job Hourly

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt || true

      - name: Run ETL Job
        run: |
          python iss_location.py

      - name: Commit and Push CSV
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          
          if [ -f "output.csv" ]; then
            echo "output.csv found. Adding to repo..."
            git add output.csv
            git commit -m "Update output.csv $(date)"
            git push
          else
            echo "output.csv NOT FOUND"
          fi
